body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
}

.navbar {
  width: 58rem;
}

.jumbotron {
  padding-top: 6rem;
  /* padding-bottom: 6rem; */
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
  font-size: 60px;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

/* .btn-squared-default-plain {
  width: 100px !important;
  height: 100px !important;
  font-size: 20px;
  margin-right: 100px;
  margin-left: 100px;
}

.btn-squared-default-plain:hover {
  background-color: grey;
  color: white;
} */

.btn-light {
  width: 200px;
  height: 200px;
  font-size: 20px;
  border-radius: 25px;
  margin-right: 15px;
  margin-left: 15px;
  background-color: #d8d8d8;
}

.btn-light:hover {
  background-color: #551A99;
}

.container-fluid {
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 1000px;
}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.container {
  padding-top: 1rem;
  /* padding-bottom: 3rem; */
}

.custom-select {
  width: 200px;
  border-radius: 25px;
}

.form-control {
  border-radius: 25px;
}

ul {
  list-style-type: none;
}