body {
  min-height: 75rem; /* Can be removed; just added for demo purposes */
}

.navbar {
  margin-bottom: 0;
}

.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
}

footer {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: .25rem;
}

.btn-squared-default-plain {
  width: 100px !important;
  height: 100px !important;
  font-size: 20px;
  margin-right: 100px;
  margin-left: 100px;
}

.container-fluid {
  padding-top: 3rem;
  padding-bottom: 3rem;
  width: 1000px;
}

.container {

}
